<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>answer | Ask.fm</title>
    <link rel="shortcut icon" th:href="@{images}" href="../static/images/logo.png">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/normalaize.css}" href="../static/css/normalaize.css">
    <link rel="stylesheet" th:href="@{/css/answerpeople.css}" href="../static/css/answerpeople.css"/>
</head>

<body>
<section class="ask_people"  th:action="@{'/answer/{questionid}'(questionid=${question.getId()})}">

    <form method="post"  th:object="${answer}">
        <p th:text="${question.getContent()}">How are You now ? </p>
        <textarea placeholder="What, when, why… ask" name="qusetion" id="" th:field="*{content}"></textarea>
        <label >
            <a href=""><i id="upfile1" class="fa fa-camera" aria-hidden="true"></i></a>
            <input type="file" id="file1" name="file1" style="display:none"/>
        </label>

        <button  type="submit" class="answer">Answer <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        <div class="clear"></div>
    </form>
</section>

<script th:src="@{/js/jquery-1.11.1.min.js}" src="../static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.mins.js}" src="../static/js/bootstrap.mins.js" type="text/javascript"></script>
<script th:src="@{/js/custom.js}" src="../static/js/custom.js" type="text/javascript"></script>
</body>
</html>