<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css"/>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<!-- ------------------------------- Start navbar--------------------------------- -->
<div th:replace="/fragments/header :: header"/>

<!-- --------------------------------------------- start Post ----------------------------------- -->
<div class="row">
    <div class="container">

        <div class="hiddeninask">
            <div class="ask col-md-3  col-md-offset-1 friends">
                <h3 class="h3">Your friends</h3>
                <div class="scrollbar" id="style-13">
                    <div class="force-overflow">
                        <div class="account" th:each="user :${following}">
                            <a href="#"><img src="images/person1.jpg"></a>
                            <a th:href="@{'/{username}'(username=${user.getUser().getUsername()})}">
                                <span th:text="${user.getUser().getName()}">Abdo H. Ahmed</span>
                            </a>
                            <a href="askQuestion.html" class="btn"> ask</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="post col-md-8 col-xs-12" th:each="answer : ${answers}">
                <article>
                    <section>
                        <div class="question">
                            <h3 class="h3" th:text="${answer.getQuestion().getContent()}">How Are You ? </h3>
                            <a th:href="@{'/{username}'(username=${answer.getQuestion().getSenderUser().getUsername()})}"
                               th:text="${answer.getQuestion().getSenderUser().getUsername()}">Account name</a>
                        </div>
                        <div class="answer">
                            <p th:text="${answer.getContent()}"> لا انا حلو اطلع منها انت يا جدع انت 😷😷لا انا حلو اطلع
                                منها انت يا جدع انت رخم ليه كدا 😷😷</p>
                            <img th:src="@{/images/person1.jpg}"/>
                            <span th:text="${answer.getUser().getName()}">Abdo H. Ahmed</span>
                        </div>
                    </section>
                    <footer>
                        <div class="one">
                            <i class="fa fa-heart fa-lg" aria-hidden="true"><span>5</span></i>
                        </div>
                        <div class="two">
                            <i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i>
                            <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
                        </div>
                    </footer>
                    <div class="clear"></div>
                </article>

            </div>
            <!-- --------------------------------------------- End Post ----------------------------------- -->

            <!-- --------------------------------------------- Start ask ----------------------------------- -->
        </div>


    </div>
</div>
</body>
</html>