<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome | Ask.fm</title>
    <link rel="shortcut icon" href="image/logo.png">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalaize.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/Home.css">
</head>

<body>

<!--    Start Custom Navbar  -->
<section class="nav-home">
    <div class="container">
        <div class="row">
            <div class="col-xs-2"><img class="logo " src="image/logonav.png"></div>
            <div><h5 data-class="signing">Sign-up</h5></div>
            <div><a href="/login" class="btn">login</a></div>

        </div>
    </div>

    <div class="clear"></div>
</section>


<form class="sign-up"  th:object="${user}" th:action="@{/sign-up}" method="post">
    <div class="color">
        <div class="container2">

            <input type="hidden" th:field="*{id}"/>
<!--            username error message display-->
            <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                   class="alert alert-danger"></label>
            <input type="text" placeholder="username" th:field="*{username}"> <br>
<!--            password error message-->
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   class="alert alert-danger"></label>
            <input type="password" placeholder="password" th:field="*{password}"> <br>
<!--            name error message -->
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                   class="alert alert-danger"></label>
            <input type="text" placeholder="full name" th:field="*{name}"><br>

<!--            email error message-->
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                   class="alert alert-danger"></label>
            <input  placeholder="Email" th:field="*{email}"> <br>
            <div class="row">
                <h4>birthDate</h4>
                <select class="col-xs-4">
                    <option >Day</option>
                </select>
                <select class="col-xs-4">
                    <option >Months</option>
                </select>
                <select class="col-xs-4">
                    <option>Year</option>
                </select>
            </div>
            <h4>Gender</h4>
            <select class="Gender" th:field="*{gender}">
                <option th:value="Male">Male</option>
                <option th:value="Female"> Female</option>
            </select>
            <h4>Language</h4>
            <select class="Language" th:field="*{language}">
                <option th:value="English">English</option>
                <option th:value="Arabic">Arabic</option>
            </select>
            <p>By signing up you agree to our <span> <a>Terms</a></span> and <SPAN> <a
                    href=""> Privacy policy</a></SPAN></p>

            <input class="btn" type="submit" value="Sign Up"/>
            <div class="clear"></div>
            <p>Your name and any information posted on your profile will be visible to other users. Information you
                provide may be shared with third parties as explained in our <span> <a
                        href="">Privacy policy.</a></span> Please don’t provide any information you don’t want shared.
            </p>
        </div>

    </div>

</form>
<script src="js/jquery-1.12.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>